{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">local_shipping</i>
      {{ 'Velox Sendifico'|trans({}, 'Modules.Vxsendifico.Admin') }}
    </h3>
    <div class="card-body">
      <p class="mb-0">
        {{ 'The module baseline is installed. Configuration fields will be added in the next phase.'|trans({}, 'Modules.Vxsendifico.Admin') }}
      </p>
    </div>
  </div>
{% endblock %}
